version: '3'
services:
  flask:
      image: dockerayush039/lmflaskapp
      ports:
        - "5000:5000" 
      environment:
         DATABASE_URL: mysql+pymysql://user:password@mysql:3306/lms
      depends_on:
        -  mysql

  mysql:
      image: mysql:8.0
      ports:
        - "3306:3306"
      environment:
        MYSQL_ROOT_PASSWORD: rootpassword
        MYSQL_DATABASE: lms
        MYSQL_USER: user
        MYSQL_PASSWORD: password
      volumes:
        - mysql_data:/var/lib/mysql
        - ./lms.sql:/docker-entrypoint-initdb.d/lms.sql

volumes:
     mysql_data:
